# Battle of the neigbourhoods

by Tom Fenske

### 1. Importing libraries and datasets

In [106]:
#Import necessary libraries
import pandas as pd
import folium
import re
print('Libraries succesfully imported')

Libraries succesfully imported

In [107]:
#Defining the url's from which the names and coordinates of stations are read

url_metro='https://de.m.wikipedia.org/wiki/Liste_der_Stationen_der_S-Bahn_Berlin'
url_subway='https://de.m.wikipedia.org/wiki/Liste_der_Berliner_U-Bahnh%C3%B6fe'

In [108]:
#Reading the table from the url into a pandas dataframe
df_metro=pd.read_html(url_metro)[0]
print('Done')

Done

In [109]:
#Dropping columns which we do not need
df_metro = df_metro.drop(['Strecke', 'Linie(n)','Aufnahme', 'Einstellung','Bemerkungen', 'Unnamed: 6', 'Unnamed: 7','Bild'], axis=1)
df_metro.head()

,S-Bahnhof(ehem. Name),Lage
0,Adlershof(bis 1935 Adlershof=Alt-Glienicke),"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3..."
1,Ahrensfelde,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°..."
2,Albrechtshof,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O"
3,Alexanderplatz,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O"
4,Alt-Reinickendorf(bis 1994 Reinickendorf),"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°..."

In [110]:
# Extracting the neighbourhoods and the Coordinates from the "Lage" column
df_metro['Neighbourhood']=df_metro['Lage'].str.extract('(\w*)', expand=True)
df_metro['Coordinates'] = df_metro['Lage'].str.extract('(\d.*)', expand=True)
df_metro.head()

,S-Bahnhof(ehem. Name),Lage,Neighbourhood,Coordinates
0,Adlershof(bis 1935 Adlershof=Alt-Glienicke),"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,"52° 26′ 5″ N, 13° 32′ 29″ O"
1,Ahrensfelde,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Marzahn,"52° 34′ 18″ N, 13° 33′ 54″ O"
2,Albrechtshof,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Staaken,"52° 32′ 58″ N, 13° 7′ 42″ O"
3,Alexanderplatz,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Mitte,"52° 31′ 17″ N, 13° 24′ 43″ O"
4,Alt-Reinickendorf(bis 1994 Reinickendorf),"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Reinickendorf,"52° 34′ 40″ N, 13° 21′ 2″ O"

In [111]:
#Cleaning the Coordinates in order to express them as float later on
df_metro['Coordinates']=df_metro['Coordinates'].str.replace(' ', '')
df_metro['Coordinates']=df_metro['Coordinates'].str.replace('′', '\'')
df_metro['Coordinates']=df_metro['Coordinates'].str.replace('″', '\"')
df_metro.head()

,S-Bahnhof(ehem. Name),Lage,Neighbourhood,Coordinates
0,Adlershof(bis 1935 Adlershof=Alt-Glienicke),"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,"52° 26' 5"" N,13° 32' 29"" O"
1,Ahrensfelde,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Marzahn,"52° 34' 18"" N,13° 33' 54"" O"
2,Albrechtshof,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Staaken,"52° 32' 58"" N,13° 7' 42"" O"
3,Alexanderplatz,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Mitte,"52° 31' 17"" N,13° 24' 43"" O"
4,Alt-Reinickendorf(bis 1994 Reinickendorf),"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Reinickendorf,"52° 34' 40"" N,13° 21' 2"" O"

In [112]:
#Splitting Coordinates into Latitude and Longitude
df_metro[['Longitude','Latitude']]=df_metro['Coordinates'].str.split(",",expand=True)
df_metro.head()

,S-Bahnhof(ehem. Name),Lage,Neighbourhood,Coordinates,Longitude,Latitude
0,Adlershof(bis 1935 Adlershof=Alt-Glienicke),"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,"52° 26' 5"" N,13° 32' 29"" O","52° 26' 5"" N","13° 32' 29"" O"
1,Ahrensfelde,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Marzahn,"52° 34' 18"" N,13° 33' 54"" O","52° 34' 18"" N","13° 33' 54"" O"
2,Albrechtshof,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Staaken,"52° 32' 58"" N,13° 7' 42"" O","52° 32' 58"" N","13° 7' 42"" O"
3,Alexanderplatz,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Mitte,"52° 31' 17"" N,13° 24' 43"" O","52° 31' 17"" N","13° 24' 43"" O"
4,Alt-Reinickendorf(bis 1994 Reinickendorf),"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Reinickendorf,"52° 34' 40"" N,13° 21' 2"" O","52° 34' 40"" N","13° 21' 2"" O"

In [117]:
s = """0°51'56.29"S"""

def dms2dd(s):
    # example: s = """0°51'56.29"S"""
    degrees, minutes, seconds, direction = re.split('[°\'"]+', s)
    dd = float(degrees) + float(minutes)/60 + float(seconds)/(60*60);
    if direction in ('S','W'):
        dd*= -1
    return dd

dms2dd(df_metro['Longitude'][2])
#df_metro['Longitude'].apply(dms2dd) <--Longitude have to have only lon values (no nan) wo work - clean the rows first!

52.54944444444444